<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
      <div  align="center">
          <img src="static/about.png" >
      </div>   
    <h6> This web app was done as part of MSIA 423 Analytics Value Chain class.The idea behind this app is to provide a helpful service for people on their 
      house hunting journey in King County, Washington to get a feel for the potential cost of their home and how they can save some money.</h6>
      <hr>
      <br>
    <h5> City: These are the top 10 cities in King County and will only predict price in comparison to houses in the same city.</h5>
    <h5> Bedrooms, Bathrooms, and Floors: These are the number of rooms and floors you would like in the house.</h5>
    <h5> Waterfront: This indicates if you would like a waterfront view property. Kent and Auburn have no waterfront properties.</h5>
    <h5> Condition: This is a number from 1-5 evaluated by the city to indicate house condition, 1 being poor(flip house) and 5 being great.</h5>
    <h5> Basement: This indicates if you are expecting the home to have a basement.</h5>
    <h5> Year Built: This allows you to indicate how old the house should be and/or what style (decade styles).</h5>
    <h5> Renovations: This indicates if you are expcting the house to be renovated.</h5>
    <h5> Lot sqft: This indicates the square footage of the lot the house is on.</h5>

      <div class="menu" >
          <div class="label"><h4>More</h4></div>
          <div class="spacer"></div>
          <div class="item" onclick="window.location.href='/';"><span><h4>Home</h4></span></div>
          <div class="item" onclick="window.location.href='/about';" ><span> <h4>About</h4></span></div>
          <div class="item" onclick="window.location.href='/data';"><span><h4>Data</h4></span></div>
          <div class="item" onclick="window.location.href='/contact';"><span><h4>Contact</h4></span></div>
      </div>
  </body>

  
</html>