<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Contact </title>
  </head>
  <body>
      <div  align="center">
          <img src="static/contact.png" >
      </div>   
      <div class="main">
      <h5>Tova Simonson</h5>
      <br>
      <h5> Northwestern University: Masters of Science in Analytics</h5>
      <br>
    <h5> Email: tovasimonson2019@u.northwestern.edu</h5>
  </div>
    <div class="menu" >
        <div class="label"><h4>More</h4></div>
        <div class="spacer"></div>
        <div class="item" onclick="window.location.href='/about';" ><span> <h4>About</h4></span></div>
        <div class="item" onclick="window.location.href='/data';"><span><h4>Data</h4></span></div>
        <div class="item" onclick="window.location.href='/contact';"><span><h4>Contact</h4></span></div>
        <div class="item" onclick="window.location.href='/';"><span><h4>Home</h4></span></div>
    </div>
  </body>
</html>