<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data</title>
  </head>
  <body>
      <div  align="center">
          <img src="static/data.png" >
      </div>   
    <h5>The dataset used for this project was found from Kaggle, called House Sales in King County, USA. It can be found at this link: </h5>
    <h5>  "https://www.kaggle.com/harlfoxem/housesalesprediction"</h5> <br>
    <h5> Predictions given are completely based on other house sale prices in the city you selected. This is done using historic sales data and using a linear regression. </h5>

    <div class="menu" >
        <div class="label"><h4>More</h4></div>
        <div class="spacer"></div>
        <div class="item" onclick="window.location.href='/about';" ><span> <h4>About</h4></span></div>
        <div class="item" onclick="window.location.href='/data';"><span><h4>Data</h4></span></div>
        <div class="item" onclick="window.location.href='/contact';"><span><h4>Contact</h4></span></div>
        <div class="item" onclick="window.location.href='/';"><span><h4>Home</h4></span></div>
    </div>
  </body>
</html>