<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<body>
<div id="container">
  <div class="main">
      <div  align="center">
          <img src="static/banner4.png" >
      </div>    
    <br>
    <br>    <h3  align="center" > Select house information: </h3>
    <hr style="width:40%">
    <form class=inputs method=post name=userinput action="{{ url_for('result')}}">
    <p>
      <div align="center" >
        <select name="city" id="city" class="form-control unstyled">
            <option>
                City
            </option>
            <option value="0" >Seattle</option>
            <option value="1" >Renton</option>
            <option value="2" >Bellevue</option>
            <option value="3" >Kent</option>
            <option value="4" >Redmond</option>
            <option value="5" >Kirkland</option>
            <option value="6" >Auburn</option>
            <option value="7" >Sammamish</option>
            <option value="8" >Federal Way</option>
            <option value="9" >Issaquah</option>
        </select>
      </div>
      <div align="center">
          <select name="bedrooms" id="bedrooms" class="form-control unstyled">
            <option>
                Bedrooms
            </option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
        </select>
      </div>
      <div align="center">
          <select name="bathrooms" id="bathrooms" class="form-control unstyled">
            <option>
                Bathrooms
            </option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>             
        </select>
      </div>
      <div align="center">
        <select name="floors" id="floors" class="form-control unstyled">
            <option>
                Floors
            </option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
        </select>
      </div>
      <div align="center">
            <select name="waterfront" id="waterfront" class="form-control unstyled">
            <option>
                Waterfront
            </option>
            <option value="0">No</option>
            <option value="1">Yes</option>             
        </select>
      </div>
      <div align="center">
            <select name="condition" id="condition" class="form-control unstyled">
            <option>
                Condition
            </option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>         
        </select>
      </div>
      <div align="center">
            <select name="sqft_basement" id="sqft_basement" class="form-control unstyled">
            <option>
                Basement
            </option>
            <option value="0">No</option>
            <option value="1">Yes</option>             
        </select>
      </div>
      <div align="center">
          <select name="yr_built" id="yr_built" class="form-control unstyled">
            <option>
                Year Built
            </option>
            <option value="1900" >1900</option>
            <option value="1910" >1910</option>
            <option value="1920" >1920</option>
            <option value="1930" >1930</option>
            <option value="1940" >1940</option>
            <option value="1950" >1950</option>
            <option value="1960" >1960</option>
            <option value="1970" >1970</option>
            <option value="1980" >1980</option>
            <option value="1990" >1990</option>
            <option value="2000" >2000</option>
            <option value="2005" >2005</option>    
            <option value="2010" >2010</option>                            
            <option value="2015" >2015</option>                
        </select>
      </div>
      <div align="center">
            <select name="yr_renovated" id="yr_renovated" class="form-control unstyled">
            <option>
                Renovations
            </option>
            <option value="0">No</option>
            <option value="1">Yes</option>             
        </select>
      </div>
      <div align="center">
            <select name="lot_log" id="lot_log" class="form-control unstyled">
              <option>
                  Lot sqft
              </option>
              <option value="1000" >1000</option>
              <option value="5000" >5000</option>
              <option value="10000" >10000</option>
              <option value="15000" >15000</option>
              <option value="20000" >20000</option>
              <option value="25000" >25000</option>
              <option value="30000" >30000</option>
              <option value="35000" >35000</option>
              <option value="40000" >40000</option>
              <option value="45000" >45000</option>
              <option value="50000" >50000</option>
              <option value="55000" >55000</option>    
              <option value="60000" >60000</option>                            
              <option value="65000" >65000</option>                
          </select>
        </div>
      
    <p align="center">
    <button type="submit"  style="color:black;" > Predict! </button> 
    </p>
    </form>
    <h3> For more information on what each variable indicates, please visit the "About" page under "More." </h3>

  </div>
</div>
<div class="menu" >
        <div class="label"><h4>More</h4></div>
        <div class="spacer"></div>
        <div class="item" onclick="window.location.href='/about';" ><span> <h4>About</h4></span></div>
        <div class="item" onclick="window.location.href='/data';"><span><h4>Data</h4></span></div>
        <div class="item" onclick="window.location.href='/contact';"><span><h4>Contact</h4></span></div>
        <div class="item" onclick="window.location.href='/';"><span><h4>Home</h4></span></div>
    </div>
</body>
</html>